
    </main>

    <footer class="mt-auto bg-primary">
        <p class="text-center text-light fs-5 my-3">Made with ❤️ by <a href="https://github.com/DiotheWind" class="text-light">Dio Wind</a></p>
    </footer>
</body>
</html>
